/* @media only screen and (min-width: 991px) {
  .modal-wrapper {
    width: 50%;
  }
} */
.modal-wrapper {
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  margin: 100px auto 0;
  transition: all 1s;
  width: 66%;
}

.modal-head {
  background: #263238;
  height: 40px;
  line-height: 40px;
  padding: 5px 20px;
  text-align: right;
  display: flex;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-body {
  padding: 10px 15px;
  text-align: center;
}

.modal-footers {
  background: #263238;
  height: 35px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  border-top: 1px solid #e9ecef;
}

.close-modal-btn {
  color: white;
  cursor: pointer;
  flex: 50%;
  font-size: 30px;
  margin: 0;
  text-align: right;
}

.close-modal-btn:hover {
  color: black;
}

.btn-cancel,
.btn-continue {
  background: coral;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 10px;
}

.btn-cancel {
  background-color: #b71c1c;
  float: left;
}

.btn-continue {
  background-color: #1b5e20;
  float: right;
}

.back-drop {
  background-color: rgba(48, 49, 48, 0.42);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
}

.open-modal-btn {
  margin: 15px;
  padding: 10px;
  font-weight: bold;
}
